.chart-series-area-fill { 
    -fx-fill: rgba(255.0,255.0,210.0,0.0); 
}

.chart-plot-background {
    -fx-background-color: rgba(133,133,133,1.0);
}

.chart-series-area-line { 
    -fx-stroke-width: 4.0px; 
}

.axis{
    -fx-tick-label-fill: #ffffff;
}

.chart-area-symbol {
    -fx-text-fill: #ffffff;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: -5.0px 5.0px 5.0px 5.0px;
}